@page "/register"

@using AntDesign
@using BlazorAppSecure.Sevices
@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using System.ComponentModel;

@inject IAccountManagement Acct
@inject IMessageService _message
@inject NavigationManager Navigation

@layout EmptyLayout

<AuthorizeView>
    <Authorized>
        <Result Status="ResultStatus.Warning" Title="@($"You're already logged in as {context.User.Identity?.Name}.")">
            <Extra>
                <Button Type="ButtonType.Primary" OnClick="HandleGoToHomepage">Go To Homapage</Button>
            </Extra>
        </Result>
    </Authorized>
    <NotAuthorized>
        <div class="register-page">
            <Card Style="width: 500px">
                <ChildContent>
                    <Form Model="@registerModel"
                          OnFinish="OnFinish"
                          LabelColSpan="10"
                          Context="FormContext"
                          class="register-form">
                        <FormItem Label="Email">
                            <Input @bind-Value="@FormContext.Email" />
                        </FormItem>
                        <FormItem Label="Password">
                            <InputPassword @bind-Value="@FormContext.Password" />
                        </FormItem>
                        <FormItem Label="Confirm Password">
                            <InputPassword @bind-Value="@FormContext.ConfirmPassword" />
                        </FormItem>
                        <FormItem WrapperColOffset="10">
                            <Button Type="ButtonType.Primary" HtmlType="submit">
                                Register
                            </Button>
                        </FormItem>
                        <p>
                            Already has an account?
                            <NavLink href="login">
                                Login
                            </NavLink>
                        </p>
                    </Form>
                </ChildContent>
            </Card>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    public class RegisterModel {
        [Required]
        public string Email { get; set; }
        [Required]
        public string Password { get; set; }
        [Required]
        [Compare("Password", ErrorMessage = "Passwords do not match")]
        public string ConfirmPassword { get; set; }
    }

    private RegisterModel registerModel = new RegisterModel();

    private async void OnFinish(EditContext editContext) {
        await DoRegisterAsync();
    }

    public async Task DoRegisterAsync()
    {
        var result = await Acct.RegisterAsync(registerModel.Email, registerModel.Password);

        if (result.Succeeded)
        {
            registerModel = new RegisterModel();
            StateHasChanged();
            await _message.Success("Register success, you can login now");
        }
        else
        {
            result.ErrorList.ForEach(async (error) => {
                await _message.Error(error);
            });
        }
    }

    public void HandleGoToHomepage() {
        Navigation.NavigateTo("/");
    }
}

<style>
    .register-page {
        padding-top: 100px;
        display: flex;
        justify-content: center;
    }

    .register-form .ant-form-item-label {
        text-align: left
    }
</style>