@page "/courses/detail/{Id}"
@using static CourseManagement.Model.DTOs.ModuleDTO
@inherits CourseDetailBase

<div class="mb-2">
    <Breadcrumb>
        <BreadcrumbItem Href="">Home</BreadcrumbItem>
        <BreadcrumbItem Href="/courses">Course Management</BreadcrumbItem>
        <BreadcrumbItem>Course Detail</BreadcrumbItem>
    </Breadcrumb>
</div>

@if (CourseDetailModel == null) {
    <Empty />
} else {
    <div class="course-detail">
        <div class="mb-2">
            <Button Type="ButtonType.Primary" Icon="@IconType.Outline.Plus" @onclick="OpenAddNewModuleDrawer">Add New Module</Button>
            <Button Type="ButtonType.Primary" Icon="@IconType.Outline.Plus" @onclick="OpenAddNewLessonDrawer">Add New Lesson</Button>
            <Button Type="ButtonType.Primary" Icon="@IconType.Outline.Retweet" @onclick="OpenReorderModulePositionDrawer">Edit | Remove | Reorder Module</Button>
            <Button Type="ButtonType.Primary" Icon="@IconType.Outline.Retweet" @onclick="OpenReorderLessonPositionDrawer">Edit | Remove | Reorder Lesson</Button>
            <Button Type="ButtonType.Primary" Icon="@IconType.Outline.Download" @onclick="ExportLessonsToExcel">
                Export Lessons (Excel)
            </Button>
        </div>
        <GridRow Gutter="12">
            <GridCol Span="6">
                @* @if (visible) {
                    <div class="mb-2">
                        <Alert Message="Tip: You can right click on lesson to see the actions you can do with this item" 
                        Type="AlertType.Info" 
                        Closable 
                        AfterClose="handleClose" />
                    </div>
                } *@
                <Collapse DefaultActiveKey="@ActiveModuleKeys"
                          OnChange="Callback"
                          ExpandIconPosition="@expandIconPosition"
                          ExpandIcon="@IconType.Outline.CaretRight"
                          Style="@($"max-height: 775px; overflow: auto;")">
                    @if (!CourseDetailModel.Modules.Any()) {
                        <div class="d-flex justify-content-center align-items-center" style="height: 685px"><Empty /></div>
                    } else {
                        @foreach (var module in CourseDetailModel.Modules) {
                            <Panel Header="@module.Title" Key="@module.Order.ToString()">
                                <ExtraTemplate>
                                    @* <div @onclick:stopPropagation>
                                        <Dropdown Trigger="@(new Trigger[] { Trigger.Click })" Placement="Placement.RightTop">
                                            <Overlay>
                                                <Menu Style="width: 100px">
                                                    <MenuItem @onclick="() => OpenEditModuleDrawer(module.Id)">
                                                        Edit
                                                    </MenuItem>
                                                    <MenuItem>
                                                        Delete
                                                    </MenuItem>
                                                </Menu>
                                            </Overlay>
                                            <ChildContent>
                                                <Icon Type="@IconType.Outline.Setting" />
                                            </ChildContent>
                                        </Dropdown>
                                    </div> *@
                                </ExtraTemplate>
                                <ChildContent>
                                    @if (module.Lessons == null || !module.Lessons.Any()) {
                                        <Empty class="mt-3" />
                                    } else {
                                        <AntList DataSource="@module.Lessons" Loading="LoadingCourseDetail">
                                            <ChildContent Context="lesson">
                                                <ListItem Class="@(lesson.Id == CurrentLesson?.Id ? "active" : "")"
                                                OnClick="@(() => HandleLessonClick(lesson))">
                                                    <div class="course-detail-lesson">
                                                        <div>
                                                            <Icon Type="@IconType.Outline.PlayCircle" /> @lesson.Title
                                                        </div>
                                                            @* <Icon Type="@IconType.Outline.CheckCircle" Style="color: #52c41a" /> *@
                                                        @if (lesson.VideoDuration != null) {
                                                            <Tag Color="TagColor.Blue">@FormatDuration(lesson.VideoDuration.Value)</Tag>
                                                        }
                                                    </div>
                                                </ListItem>
                                            </ChildContent>
                                        </AntList>
                                    }
                                </ChildContent>
                            </Panel>
                        }
                    }
                </Collapse>
            </GridCol>
            <GridCol Span="18">
                <Card Bordered="true" Loading="LoadingCourseDetail">
                    @if (CurrentLesson == null) {
                        <div class="d-flex justify-content-center align-items-center" style="height: 685px"><Empty /></div>
                    } else {
                        <div style="position: relative; padding-bottom: 525px; height: 0; overflow: hidden;">
                            <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 525px; border: 0; border-radius: 0.5rem"
                            src="@GetYouTubeEmbedUrl(CurrentLesson.UrlVideo)"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                            </iframe>
                        </div>

                        <div class="mt-3">
                            <GridRow Gutter="32">
                                <GridCol Span="4">
                                    <div class="d-flex">
                                        <Button Icon="@IconType.Outline.CaretLeft" OnClick="NavigateToPreviousLesson">Previous lesson</Button>
                                    </div>
                                </GridCol>
                                <GridCol Span="16">
                                    <div>
                                        <h5>@CurrentLesson.Title</h5>
                                        <span>Module: @CurrentLesson.ModuleName</span>
                                    </div>
                                    <Divider/>
                                    <div>@CurrentLesson.Description</div>
                                </GridCol>
                                <GridCol Span="4">
                                    <div class="d-flex justify-content-end">
                                        <Button Icon="@IconType.Outline.CaretRight" OnClick="NavigateToNextLesson">Next lesson</Button>
                                    </div>
                                </GridCol>
                            </GridRow>
                        </div>

                        @if (CurrentLesson != null && LessonDocuments != null && LessonDocuments.Any()) {
                            <Divider />
                            <div class="lesson-documents">
                                <h5>Lesson Materials</h5>
                                <Table DataSource="@LessonDocuments"
                                       Size="TableSize.Small"
                                       Bordered>
                                    <PropertyColumn Property="c=>c.Name" Title="File Name" />
                                    <PropertyColumn Property="c=>c.FileSize" Title="Size">
                                        @context.FileSize.ToFileSize()
                                    </PropertyColumn>
                                    <PropertyColumn Property="c=>c.UploadedAt" Title="Uploaded">
                                        @context.UploadedAt.ToLocalTime().ToString("g")
                                    </PropertyColumn>
                                    <ActionColumn Title="Action">
                                        <Button Type="ButtonType.Primary"
                                                Icon="@IconType.Outline.Download"
                                                OnClick="() => DownloadDocument(context)">
                                            Download
                                        </Button>
                                    </ActionColumn>
                                </Table>
                            </div>
                        }
                    }
                </Card>
            </GridCol>
        </GridRow>
    </div>
}

<Drawer Closable="true"
@bind-Visible="VisibleAddNewModuleDrawer"
Placement="DrawerPlacement.Right"
Title='("Add new module")'
Width="500">
    <Form Model="@AddModuleRequest" OnFinish="SubmitNewModule">
        <Row Gutter="16">
            <AntDesign.Col Span="24">
                <Text>Title</Text>
                <FormItem>
                    <Input Placeholder="Please enter title" TValue="string" @bind-Value="@context.Title"></Input>
                </FormItem>
            </AntDesign.Col>
        </Row>
        <Row Class="mt-3">
            <Col Span="24" Class="d-flex justify-content-end gap-2">
                <Button Type="ButtonType.Default" @onclick="CloseAddNewModuleDrawer">Cancel</Button>
                <Button Type="ButtonType.Primary" HtmlType="HtmlType.Submit">Submit</Button>
            </Col>
        </Row>
    </Form>
</Drawer>

<Drawer Closable="true"
@bind-Visible="VisibleAddNewLessonDrawer"
Placement="DrawerPlacement.Right"
Title='("Add new lesson")'
Width="500">
    <Form Model="@AddNewLessonModel" OnFinish="SubmitNewLesson">
        <Row Gutter="16">
            <AntDesign.Col Span="24">
                <Text>Title</Text>
                <FormItem>
                    <Input Placeholder="Please enter title" TValue="string" @bind-Value="@context.Title"></Input>
                </FormItem>
            </AntDesign.Col>
            <AntDesign.Col Span="24">
                <Text>Description</Text>
                <FormItem>
                    <TextArea Placeholder="Please enter description" AutoSize="true" @bind-Value="@context.Description" />
                </FormItem>
            </AntDesign.Col>
            <AntDesign.Col Span="24">
                <Text>Video URL</Text>
                <FormItem>
                    <Input Placeholder="Please enter preview video url"
                           TValue="string"
                           @bind-Value="@context.UrlVideo"
                           @bind-Value:after="OnVideoUrlChangedAdd" />
                    @if (!string.IsNullOrEmpty(context.UrlVideo)) {
                        <div class="mt-2" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                            <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;"
                                    src="@GetYouTubeEmbedUrl(context.UrlVideo)"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                        @if (videoDuration.HasValue) {
                            <div class="mt-2">
                                <Tag Color="TagColor.Blue">@FormatDuration(videoDuration.Value)</Tag>
                            </div>
                        }
                    }
                </FormItem>
            </AntDesign.Col>
            <AntDesign.Col Span="24">
                <Text>Module</Text>
                <FormItem>
                    <div class="d-flex gap-1">
                        <Select DataSource="@ListModule"
                        @bind-Value="@context.ModuleId"
                        ItemValue="p=>p.Id"
                        ItemLabel="p=>p.Title"
                        Placeholder="Select a module"
                        EnableSearch
                        AutoClearSearchValue="false"
                        Loading="LoadingModuleList">
                        </Select>
                        <Tooltip Title="Reload list module">
                            <Button Icon="@IconType.Outline.Reload" @onclick="() => FetchModuleList(Id)" Loading="LoadingModuleList" />
                        </Tooltip>
                    </div>
                </FormItem>
            </AntDesign.Col>
            <AntDesign.Col Span="24">
                <Text>Lesson Materials</Text>
                <FormItem>
                    <Upload Action="https://localhost:7239/api/File/upload"
                            Accept=".pdf,.doc,.docx,.json,.xml"
                            OnSingleCompleted="OnLessonFileUploadCompleted"
                            OnRemove="OnLessonFileRemoved"
                            OnChange="HandleLessonFileUploadChange"
                            Multiple="true"
                            Name="file"
                            FileList="@CurrentLessonFiles">
                        <Button Icon="@IconType.Outline.Upload">
                            Upload Materials
                        </Button>
                    </Upload>
                </FormItem>
            </AntDesign.Col>
        </Row>
        <Row Class="mt-3">
            <Col Span="24" Class="d-flex justify-content-end gap-2">
                <Button Type="ButtonType.Default" @onclick="CloseAddNewLessonDrawer">Cancel</Button>
                <Button Type="ButtonType.Primary" HtmlType="HtmlType.Submit">Submit</Button>
            </Col>
        </Row>
    </Form>
</Drawer>

<Drawer Closable="!LoadingUpdateListModule"
@bind-Visible="VisibleReorderModulePositionDrawer"
Placement="DrawerPlacement.Right"
Title='("Edit | Remove | Reorder module position")'
Width="700">
    @if (ListModulePreview.Count == 0) {
        <Empty />
    } else {
        <div class="mb-2 draggable-list">
            <AntList DataSource="@ListModulePreview" Loading="LoadingModuleList" Bordered>
                <Header>
                    <Button Icon="@IconType.Outline.Reload" @onclick="ReloadModulePreviewList" Loading="LoadingModuleList">Reload list module</Button>
                </Header>
                <ChildContent Context="module">
                    <ListItem>
                        <div draggable="true"
                        @ondrop="() => OnDrop(module)"
                        @ondragstart="e => OnDragStart(e, module)"
                        ondragover="event.preventDefault()"
                        class="draggable-item">
                            <div class="d-flex justify-content-between">
                                <div>@module.Title</div>
                                <div class="d-flex align-items-center gap-2">
                                    <Tag Color="TagColor.Gold">Total lesson: @module.TotalLesson</Tag>
                                    <Button OnClick="() => OpenEditModuleDrawer(module.Id)" Type="ButtonType.Text" Icon="@IconType.Outline.Edit" class="ant-btn-edit"></Button>
                                    <Popconfirm Title="Are you sure delete this module? this actions can't be undo" OnConfirm="() => DeleteModule(module.Id)">
                                        <Button Type="ButtonType.Text" Icon="@IconType.Outline.Delete" Class="ant-btn-delete"></Button>
                                    </Popconfirm>
                                </div>
                            </div>
                        </div>
                    </ListItem>
                </ChildContent>
            </AntList>
        </div>

        <Button Type="ButtonType.Default" @onclick="CloseReorderModulePostionDrawer" Loading="LoadingUpdateListModule">Cancel</Button>
        <Button Type="ButtonType.Primary" @onclick="ReorderModulePosition" Loading="LoadingUpdateListModule">Submit</Button>
    }
</Drawer>

<Drawer Closable="!LoadingUpdateListLesson"
@bind-Visible="VisibleReorderLessonPositionDrawer"
Placement="DrawerPlacement.Right"
Title='("Edit | Remove | Reorder lesson position")'
Width="700">
    <div class="mb-2">
        <Alert Type="AlertType.Warning"
               Message="Please select a module to show a list lesson of this module to reorder"
               Banner />
    </div>

    <Row Gutter="16">
        <AntDesign.Col Span="24">
            <Text>Module</Text>
            <div class="d-flex gap-1">
                <Select TItem="SearchModuleResponse"
                TItemValue="int" 
                DataSource="@ListModule"
                @bind-Value="@ModuleIdToReorderListLesson"
                ValueName="@nameof(SearchModuleResponse.Id)"
                LabelName="@nameof(SearchModuleResponse.Title)"
                Placeholder="Select a module"
                EnableSearch
                AutoClearSearchValue="false"
                Loading="LoadingModuleList"
                OnSelectedItemChanged="OnSelectedModuleChangedHandler">
                </Select>
                <Tooltip Title="Reload list module">
                    <Button Icon="@IconType.Outline.Reload" @onclick="ReloadModuleList" Loading="LoadingModuleList" />
                </Tooltip>
            </div>
        </AntDesign.Col>
    </Row>

    <div class="mt-2 mb-2">
        @if (ListLessonPreview == null || ListLessonPreview.Count == 0) {
            <Empty />
        } else
        {
            <div class="mb-2 draggable-list">
                <AntList DataSource="@ListLessonPreview" Loading="LoadingLessonList" Bordered>
                    <Header>
                        <Button Icon="@IconType.Outline.Reload" @onclick="() => FetchLessonList(ModuleIdToReorderListLesson)" Loading="LoadingLessonList">Reload list lesson</Button>
                    </Header>
                    <ChildContent Context="lesson">
                        <ListItem>
                            <div draggable="true"
                                 @ondrop="() => OnDropLesson(lesson)"
                                 @ondragstart="e => OnDragStartLesson(e, lesson)"
                                 ondragover="event.preventDefault()"
                                 class="draggable-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>@lesson.Title</div>

                                    <div class="d-flex align-items-center gap-2">
                                        <Button Type="ButtonType.Text" Icon="@IconType.Outline.Edit" class="ant-btn-edit" OnClick="() => OpenEditLessonDrawer(lesson.Id)"></Button>
                                        <Popconfirm Title="Are you sure delete this lesson? this actions can't be undo" OnConfirm="() => DeleteLesson(lesson.Id, ModuleIdToReorderListLesson)">
                                            <Button Type="ButtonType.Text" Icon="@IconType.Outline.Delete" Class="ant-btn-delete"></Button>
                                        </Popconfirm>
                                    </div>
                                 </div>
                            </div>
                        </ListItem>
                    </ChildContent>
                </AntList>
            </div>
        }
    </div>

    <Button Type="ButtonType.Default" @onclick="CloseReorderLessonPositionDrawer" Loading="LoadingUpdateListLesson">Cancel</Button>
    <Button Type="ButtonType.Primary" @onclick="ReorderLessonPosition" Loading="LoadingUpdateListLesson">Submit</Button>
</Drawer>

<Drawer Closable="true"
        @bind-Visible="VisibleEditModule"
        Placement="DrawerPlacement.Right"
        Title='("Edit module")'
        Width="500">
    <Form Model="@UpdateModuleModel" OnFinish="UpdateModule">
        <Row Gutter="16">
            <AntDesign.Col Span="24">
                <Text>Title</Text>
                <FormItem>
                    <Input Placeholder="Please enter title" TValue="string" @bind-Value="@context.Title"></Input>
                </FormItem>
            </AntDesign.Col>
        </Row>
        <Row Class="mt-3">
            <Col Span="24" Class="d-flex justify-content-end gap-2">
            <Button Type="ButtonType.Default" @onclick="CloseEditModuleDrawer">Cancel</Button>
            <Button Type="ButtonType.Primary" HtmlType="HtmlType.Submit">Submit</Button>
            </Col>
        </Row>
    </Form>
</Drawer>

<Drawer Closable="true"
        @bind-Visible="VisibleEditLesson"
        Placement="DrawerPlacement.Right"
        Title='("Edit lesson")'
        Width="500">
    <Form Model="@UpdateLessonModel" OnFinish="UpdateLesson">
        <Row Gutter="16">
            <AntDesign.Col Span="24">
                <Text>Title</Text>
                <FormItem>
                    <Input Placeholder="Please enter title" TValue="string" @bind-Value="@context.Title"></Input>
                </FormItem>
            </AntDesign.Col>
            <AntDesign.Col Span="24">
                <Text>Description</Text>
                <FormItem>
                    <TextArea Placeholder="Please enter description" AutoSize="true" @bind-Value="@context.Description" />
                </FormItem>
            </AntDesign.Col>
            <AntDesign.Col Span="24">
                <Text>Video URL</Text>
                <FormItem>
                    <Input Placeholder="Please enter preview video url" TValue="string" @bind-Value="@context.UrlVideo" @bind-Value:after="OnVideoUrlChangedUpdate"></Input>
                    @if (!string.IsNullOrEmpty(context.UrlVideo)) {
                        <div class="mt-2" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                            <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;"
                                    src="@GetYouTubeEmbedUrl(context.UrlVideo)"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>

                        @if (videoDuration.HasValue) {
                            <div class="mt-2">
                                <Tag Color="TagColor.Blue">Duration: @FormatDuration(videoDuration.Value)</Tag>
                            </div>
                        }
                    }
                </FormItem>
            </AntDesign.Col>
            <AntDesign.Col Span="24">
                <Text>Module</Text>
                <FormItem>
                    <div class="d-flex gap-1">
                        <Select DataSource="@ListModule"
                                @bind-Value="@context.ModuleId"
                                ItemValue="p=>p.Id"
                                ItemLabel="p=>p.Title"
                                Placeholder="Select a module"
                                EnableSearch
                                AutoClearSearchValue="false"
                                Loading="LoadingModuleList">
                        </Select>
                        <Tooltip Title="Reload list module">
                            <Button Icon="@IconType.Outline.Reload" @onclick="() => FetchModuleList(Id)" Loading="LoadingModuleList" />
                        </Tooltip>
                    </div>
                </FormItem>
            </AntDesign.Col>
        </Row>
        <Row Class="mt-3">
            <Col Span="24" Class="d-flex justify-content-end gap-2">
            <Button Type="ButtonType.Default" @onclick="CloseEditLessonDrawer">Cancel</Button>
            <Button Type="ButtonType.Primary" HtmlType="HtmlType.Submit">Submit</Button>
            </Col>
        </Row>
    </Form>
</Drawer>

@code {

}

<style>
    .ant-collapse-content-box {
        padding: 0px !important;
    }

    .ant-list-item {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .course-detail .ant-card {
        border-radius: 0.5rem;
        border: 1px solid #d9d9d9 !important;
        height: 775px;
        max-height: 775px;
        overflow-y: auto;
        overflow-x: hidden
    }

    .course-detail .ant-card-body {
        padding: 0.5rem;
    }

    .course-detail .ant-list-item:hover {
        cursor: pointer;
    }

    .course-detail .course-detail-lesson {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        gap: 5px;
        user-select: none;
    }

    .course-detail .ant-collapse-header-text {
        user-select: none;
    }

    .course-detail .active {
        background: #0061ba;
        color: white;
    }

    .course-detail .ant-collapse {
        border-bottom: 1px solid #d9d9d9 !important;
        border-radius: 0.5rem !important;
    }

    .course-detail .ant-collapse > .ant-collapse-item:last-child {
        border: none !important;
    }

    /* .course-detail .ant-list-split .ant-list-item {
        border-bottom: 1px solid #f0f0f0;
    }

    .course-detail .ant-list-split .ant-list-item:last-child {
        border-bottom: none;
    } */

    .course-detail .ant-list-items .antblazor-overlay-trigger-wrapper {
        border-bottom: 1px solid #f0f0f0;
    }

    .course-detail .ant-list-items .antblazor-overlay-trigger-wrapper:last-child {
        border-bottom: none;
    }

    .draggable-item {
        cursor: move;
        height: 100%;
        width: 100%;
        padding: 12px 24px;
    }

    .draggable-item .dragging {
        opacity: 0.5;
        background: red !important;
    }
    
    .draggable-list .ant-list-item {
        padding: 0px !important;
    }
</style>